<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="selenium-web" verbose="1">
    <test name="ChromeTests">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="com.rungway.tests"/>
        </packages>
    </test>

    <test name="FirefoxTests">
        <parameter name="browser" value="firefox"/>
        <packages>
            <package name="com.rungway.tests"/>
        </packages>
    </test>

    <test name="IETests">
        <parameter name="browser" value="ie"/>
        <packages>
            <package name="com.rungway.tests"/>
        </packages>
    </test>

</suite>